{% extends '/base.html.twig' %}
{% block title %}New Tournament{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <style>
        .form-control label {
            margin: 0 10px 0 3px;
        }
    </style>
{% endblock %}
{% block body %}
    <div class="card mt-4">
        <h1 style="margin-left: 16px">Create New Tournament</h1>
        <div class="card-body">
            <div class="btn-group mb-2" role="group">
                <a href="{{ path('tournament_index') }}">
                    <button type="button" class="btn btn-secondary">Back</button>
                </a>
            </div>
            {{ form_start(form) }}
            <div class="row mb-2">
                <div class="col-2">
                    <strong><label>Name:</label></strong>
                    {{ form_widget(form.name, {'attr': {'class': 'form-control '  ~ (form.name.vars.valid ? '' : 'is-invalid') }}) }}
                    <div id="{{ form.name.vars.id }}" class="invalid-feedback">
                        {{ form_errors(form.name) }}
                    </div>
                </div>
                <div class="col-auto">
                    <strong><label>Teams:</label></strong>
                    {{ form_widget(form.teams, {'attr': {'class': 'form-control '  ~ (form.teams.vars.valid ? '' : 'is-invalid') }}) }}
                    <div id="{{ form.teams.vars.id }}" class="invalid-feedback">
                        {{ form_errors(form.teams) }}
                    </div>
                </div>
            </div>
            <button type='submit' class='btn btn-primary'>Save</button>
        </div>
    </div>
{% endblock %}