{% extends 'base.html.twig' %}
{% block title %}{{ tournament.name }}{% endblock %}
{% block body %}
    <div class="card mt-4">
        <div class="card-body">
            <h1>{{ tournament.name }}</h1>

            {% for day, matchesOfDay in matches %}
                <h2>Day {{ day }}:</h2>
                <ul>
                    {% for match in matchesOfDay %}
                        <li>{{ match.team1 }} : {{ match.team2 }}</li>
                    {% endfor %}
                </ul>
            {% endfor %}
        </div>
    </div>
{% endblock %}